{% extends 'base.html' %}

{% block title %}Listado de Libros{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Listado de Libros</h1>
    <a href="{% url 'crear_libro' %}" class="btn btn-primary mb-3">Crear Libro</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>RUT</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nombre_completo }}</td>
                    <td>{{ usuario.rut }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>
                        <a href="{% url 'editar_usuario' usuario.id_usuario %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'eliminar_usuario' usuario.id_usuario %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </ul>
</div>
{% endblock %}