{% extends 'base.html' %}
{% block title %}Listado de Autores{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Listado de Autores</h1>
    <a href="{% url 'crear_autor' %}" class="btn btn-primary mb-3">Crear Autor</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Nacionalidad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
                <tr>
                    <td>{{ autor.nombre_completo }}</td>
                    <td>{{ autor.nacionalidad }}</td>
                    <td>
                        <a href="{% url 'editar_autor' autor.id_autor %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'eliminar_autor' autor.id_autor %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este autor?');">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}