{% extends 'base.html' %}
{% block title %}Listado de Clientes{% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center">Listado de clientes</h2>
    <a href="#" class="btn btn-primary mb-3">Crear Cliente</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>
                        <a href="#" class="btn btn-warning btn-sm">Editar</a>
                        <!-- <a href="#" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?');">Eliminar</a> -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </ul>
</div>
{% endblock %}