{% extends 'base.html' %}
{% block title %}Listado de Categorías{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Listado de Productos</h1>
    <a href="{% url 'crear_producto' %}" class="btn btn-primary mb-3">Crear Producto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Producto</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% if not productos %}
            <tr>
                <td colspan="4" class="text-center">No hay productos disponibles.</td>
            </tr>
            {% else %}
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre_producto }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.categoria.nombre_categoria }}</td>
                <td>
                    <a href="{% url 'editar_producto' producto.id_producto %}" class="btn btn-warning btn-sm">Editar</a>
                    <!-- <a href="#" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</a> -->
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}